#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/images/Brooklyn_Heights.jpg) no-repeat;
    background-size: cover;
}

.full {
  background: url(/images/Brooklyn_Heights.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.col-md-12 h1 {
    color: #FF69B4;
}

.white-bg {
  background-color: rgb(255,255,255);
  border: solid 1px #ccc;
  box-shadow: 3px 3px 3px #888888;
}

#index {
  padding: 4%;
}

.row {
  padding-bottom: 20px;
}

.thin {
  padding: 0;
  margin: 0;
}


.row #proposal h2 {
      font-size: 2 em ;
      color: #000000;
      font-weight: bolder;
      margin-bottom: 3%;

}
.row #proposal h3 {
      font-size: 1em;
      color: #808080;
      font-weight: thinner;
      margin: 0;
      font-style: italic;
}

.double-line {
      margin-top: 2%;
      margin-bottom: 2%
      padding-bottom: 0;
      adding: 0;
      border: none;
      border-top: medium double #A9A9A9;
      color: #A9A9A9;
      text-align: center;
}

.single-line {
     color: #A9A9A9;
     text-align: center;
     margin-top: 2%;
     margin-bottom: 2%
     padding-bottom: 0;

}

#proposal p {
  color: #808080;
  font-size: 1.2em;
  line-height: 1.5em;
}

.row #bar {
       padding-bottom: 0px;
}

section {
    padding: 3%;
}


#author p {
      color: #808080;
      font-weight: bolder;
      font-size: 1em;
}

#vote {
     background-color: white;
     color: #808080;
     border: 1px solid #808080;
     font-size: 1em;
     float: left;
}

#vote_total {
  display: block;
  float: left;
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
  border-left: 0px;
  font-size: 1em;

}
@media only screen and (min-width: 768px) and (max-width: 981px) {

  #vote_total {
    display: none;
  }
  #vote {
       background-color: white;
       color: #808080;
       border: 1px solid #808080;
       font-size: 1em;
       float: left;
  }

}


.right-line {
  border-right: 1px solid #808080;
}

#index-top h3 {
     font-size: 2.1em;
     font-color: #808080;
     font-style: italic;
     font-weight: bold;
     text-align: center;
     padding-bottom: 2%;
}

#index-intro p {
    color: #A9A9A9;
    line-height: 1.3em;
    font-size: 0.9em;
    text-align: center;
}

.index-columns {
  text-align: center;
}

.index-columns a {
    font-size: 1.8em;
    font-weight: 800;
}

.button {
  float: left;
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
  font-size: 1em;
  margin-right: 1%;
}
