#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.col-md-12 h1 {
    color: #FF69B4;
}

p {
  color: #FF69B4;
}

.white-bg {
  background-color: rgba(255,255,255, 0.7);
  border: solid 1px #ccc;
  box-shadow: 3px 3px 3px #888888;
}

#index {
  padding: 4%;
}

.row {
  padding-bottom: 20px;
}

.thin {
  padding: 0;
  margin: 0;
}


.row #proposal h2 {
      font-size: 2 em ;
      color: #000000;
      font-weight: bolder;
      margin-bottom: 3%;

}
.row #proposal h3 {
      font-size: 1.2em;
      color: #808080;
      font-weight: thinner;
      margin: 0;
}

.row #proposal hr {
      margin-top: 2%;
      margin-bottom: 2%
      padding-bottom: 0;
      adding: 0;
      border: none;
      border-top: medium double #A9A9A9;
      color: #A9A9A9;
      text-align: center;
}

#proposal p {
  color: #808080;
  font-size: 1.1em;
  line-height: 1.5em;
}

.row #bar {
       padding-bottom: 0px;
}

section {
    padding: 1%;
}
