<div class="col-sm-8-fluid white">
<form method="POST" action="/login">
<p><label>Username:</label> <input type="text" name="username" id="username" /></p>
<p><label>Password:</label> <input type="password" name="password" id="password" /></p>
<p>
<input type="submit" value="Login" />
</form></p>
</div>
