
<div class="row">
<div class="col-sm-8 col-sm-offset-2 white-bg">


<section id="proposal">

  <div class="row thin">
    <div class="col-sm-8">

      <h2><%= @proposal.title%></h2></li>
     </div>
   </div>

   <div class="row thin">
     <div class="col-sm-4">
       <h3><%=@proposal.neighborhood.name%></h3>
      </div>
    </div>

    <div class="row" id="bar">
      <div class="col-sm-12">
        <hr />
      </div>
    </div>

<div class="row thin">
  <div class="col-sm-12">
    <p>
      <%= @proposal.content %>
    </p>



    <p>
      --Submitted by <%= @proposal.user.username %>
    </p>

  </div>
</div>

  </section>
  </div>
</div>
