

  <div class="row">
   <div class="col-sm-12">
      <h3>Let's build a better Brooklyn...together.</h3>
      <hr class="single-line" />
    </div>
   </div>

   <div class="row">
    <div class="col-sm-6 left-line">

    </div>
    <div class="col-sm-6">

    </div>
   </div>
