
<section>
  <div class="row">
   <div class="col-sm-12" id="index-top">
      <h3>Let's build a better Brooklyn...together.</h3>

      <hr class="single-line" />
    </div>
   </div>

   <div class="row">
    <div class="col-sm-6 right-line index-columns">
      <a href="/signup">This is my first time here.</a>
    </div>
    <div class="col-sm-6 index-columns">
      <a href="/login">I already have an account.</a>
    </div>
   </div>

  <div class="row">
    <div class="col-sm-12" id="index-intro">
      <hr class="single-line" />

    <p>
      Participatory Budgeting is a democratic process in which community members directly decide how to spend part of a public budget. To submit an idea or vote on submissions, you must create an account.</p>

<p>
More than 1,500 cities across the world have adopted Participatory Budgeting (or PB), like Chicago, Boston, and Greensboro. To find more information on how the concept has worked elsewhere, visit <a href="https://www.participatorybudgeting.org/">Participatory Budgeting Project</a>
    </p>
   </div>
  </div>

</section>
